# IntelliJ
.gradle/
.idea/
!.idea/vcs.xml
.ipynb_checkpoints/
.kotlin/
build/

# The tools folder should be built for each platform, so do not commit build artifacts
tools/fumbblcli.jar



# Resources are too expensive to store in Git for now
# They need to be extracted from the FUMBBL client.
# /modules/game-ui/common/src/commonMain/resources/

# All downloaded games. Dont commit them to this repo
# TODO Find a different way of sharing them
/replays/
/replays-fumbbl/

# A copy of the FUMBBL source code decompiled from the jar files.
# But dont commit it to the repo.
/Debug-FantasyFootballClient/src
/Debug-FantasyFootballClient/libs
/Debug-FantasyFootballClient/libs-2
/Debug-FantasyFootballClient/client-1
/Debug-FantasyFootballClient/client-2
/FantasyFootballClient-Debug-Backup/
/FantasyFootballClient-Debug-V2/
